# To install pip-compile: pip install pip-tools
# To generate requirements.txt: pip-compile -v requirements.in
numpy
scipy
pandas
matplotlib==3.*
tensorflow
keras
ipynb
scikit-learn
autograd
git+https://github.com/titu1994/tfdiffeq.git
jaxlib==0.3.25
jax==0.3.25
